.grid {
    font-size: 0;
    margin: 0 -8px;
}
.grid > .grid-item {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    padding: 0 8px;
}

.grid-large {
    margin: 0 -14px;
}
.grid-large > .grid-item {
    padding: 0 14px;
}

.grid-medium {
    margin: 0 -50px;
}
.grid-medium .grid-item {
    padding: 0 60px;
}
