.nav{
    padding: 12px 30px;
}

.nav-link{
    padding: 12px 0 12px 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 14px;
    text-decoration: none;
    margin-right: 45px;
}
.nav-link:hover{
    text-decoration: underline;
    color: black;
}